[Unit]
Description=Trilium Next - Notes, Planning etc.

[Install]
WantedBy=default.target

[Service]
Restart=on-failure

[Container]
Image=ghcr.io/triliumnext/notes:v0.91.4-rc1
ContainerName=trilium-next
Exec=node ./src/main
# Environments
Environment=TRILIUM_DATA_DIR=/home/node/trilium-data
# Mounts
# mkdir -p ~/AppData/2_PERSIST/TRILIUM
Mount=type=bind,src=/home/<your_user>/AppData/2_PERSIST/TRILIUM,dst=/home/node/trilium-data,rw,Z,U
# Labels
AutoUpdate=registry
NoNewPrivileges=true
# Node User
User=1000:1000
UserNS=auto
Pod=TriliumNext.pod
